body {
    background: #FFEBD8;
    max-width: 800px;
    margin: 0 auto;
}

.novo-post textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
}

.novo-post button {
    background: #FF5F1F;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
}
